<div class="container">
  <div class="row">
<%= render "users/list" , book: @book,user: current_user,book_new: @book_new %>
    <% if @books %>
    <div class="col-xs-9">
      <h2>Books</h2>
      <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @books.each do |book| %>
      <tbody>
        <tr>
          <td><%= link_to user_path(book.user_id)  do %>
              <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no-image.jpg", class: "bookimage img-circle pull-left profile-thumb" %>
            <% end %></td>
          <td><%= link_to book.title,book_path(book.id) %></td>
          <td><%= book.body %></td>
          <td>
            <% if book.favorited_by?(current_user) %>
              <%= link_to book_favorites_path(book),method: :delete do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <%= book.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(book),method: :post do %>
              <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
              <%= book.favorites.count %>
              <% end %>
            <% end %>
            </td>
          <td>コメント数：<%= book.book_comments.count %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    </div>

    <% elsif @users %>
    <div class="col-xs-9">
      <h2>Users</h2>
       <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no-image.jpg", class: "bookimage img-circle pull-left profile-thumb" %></td>
          <td><%= user.name %></td>
          <td>フォロー数：<%= user.followings.count %></td>
          <td>フォロワー数：<%= user.followers.count %></td>
          <td><% if current_user != user %>
              <% if user.followed_by?(current_user) %>
              <p><%=link_to "フォロー外す", user_relationships_path(user.id), method: :delete %></p>
              <% else %>
              <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
              <% end %>
              <% end %></td>
          <td><%= link_to "Show" ,user_path(user.id) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    </div>
    <% end %>
  </div>
</div>


